html, body {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

#content {
    height: 80%;
}

#options {
    height: 20%;
}

body {
    background: black;
    text-align: center;
    color: hotpink;
}

#content, #options {
    display: flex;
    align-items: center;
    justify-content: center;
}

.time {
    margin: 10px;
}